html
{
    background-color: rgb(24, 38, 50);
    color: aliceblue;
}

.ico
{
    border-radius: 10px ;
    width: 30%;
    max-width: 50px;
    height: auto;
}

.horizontalul
{
    display: flex;
    list-style: none;
    gap: 10px;
}

.horizontalul li 
{
  width: auto; 
  display: list-item; 
}
.headertitle
{
    display: flex;
}
