
html{
background-color: black;
}
html::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(LogosImages/background.png);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
html > * {
  position: relative;
  z-index: 2;
}
body
{
    color: white;
}

.ico
{
    border-radius: 10px ;
    width: 80%;
    max-width: 80px;
    height: auto;
}

.segoico
{
    border-radius: 10px ;
    width: 50%;
    max-width: 80px;
    height: auto;
}

.horizontalul
{
    display: flex;
    list-style: none;
    gap: 10px;
}

.horizontalul li 
{
  width: auto; 
  display: list-item; 
}
.headertitle
{
    display: flex;
    gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.cell
{
    margin: 3% auto;
    border: 1px, white;
    border-style: dotted;
    width: 50%;
    height: auto;
    align-self: center;
}
.makecenter
{
    display: flex;
    width: 50%;
    height: auto;
    margin: 3% auto;
}

footer ,form
{
    display: flex;
    gap: 10px;
    width: 30%;
    margin: 3% auto;
    height: auto;
}

a:link ,a:active, a:visited
{
    color: white;    
}


p, h3 , .horizontalul
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

a:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover, legend:hover
{
    color: lime;
}

legend
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input
{
    background-color: rgb(70, 69, 69);
    color: white;
    border-radius: 10px;
    border: 2px;
    border-style: dashed;
}
input::placeholder{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

button
{
    background-color: grey;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
}


.animator {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 3.5s steps(40, end) forwards, blink 0.75s step-end 2 forwards;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  from, to { border-color: transparent; }
}